.galleryStyling{
    background-color: #a20909;
    border-radius: 20px;
    position: relative;

    img{
        width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 2vw;
        color: white;
        font-size: 1.2vw;
    }

    .KasperCertified{
            position: absolute;
            width: 7vw;
            right: -5%;
            top: -5%;
    }
}